
/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* properties */

html{
    font-family: sans-serif;
}

.subtitle{
    font-size: 14px;
    display: block;
    font-weight: normal;
}

/* utilities */

.container{
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 40px;
}

.transparent{
    color: #00000091;
}

.fblack{
    color: black;
}

.fwhite{
    color: white;
}

/* header */

header{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px;
}

h1{
    display: inline-block;
    font-size: 40px;
    max-width: 662px;
}

header label{
    display: inline;
    padding-right: 10px;
}

#toggles-button{
    display: inline;
    margin: 0 auto;
    margin-top: 20px;
}

.toggle-container{
    cursor: pointer;
    font-family: sans-serif;
    color: #666;
}

@media screen and (min-width: 950px) {
    #toggles-button{
        margin: 0;
        margin-left: auto;
    }
}

/* background toogle */

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 30px;
    height: 20px;
    border: 2px solid #666;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
    vertical-align: bottom;
}

/* white toogle */

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #666;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    transition: translate 0.3s;
}

/* Animation when the toggle is clicked */

input[type="checkbox"]:checked::before {
    transform: translate(12px, -50%);
    background-color: white;
    border: 2px solid black;
}

input[type="checkbox"]:checked {
    background-color: black;
    border: 2px solid black;
}

/* main */

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

section > div{
    margin-top: 20px;
}

.text-align{
    text-align: center;
}

h2{
    font-size: 30px;
}

ul{
    list-style: none;
}

li{
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #6500FF;
    padding: 20px;
    border-radius: 20px;
    font-weight: 600;
}

strong {
    font-size: 20px;
    color: black;
}

.larger-font{
    font-size: 60px;
}

.label{
    display: block;
    padding: 30px 0;
}

.discount{
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
}

i{
    font-size: 30px;
    padding-right: 10px;
    vertical-align: baseline;
}

.card{
    background-color: white;
    margin-bottom: 20px;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 6px #00000014;
    flex-basis: calc(1300px / 3 - 40px);
    flex-grow: 1;
}

@media screen and (min-width: 900px) {
    #ultimate ul{
        display: flex;
        flex-wrap: wrap;
    }

    #ultimate li{
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1299px) {
    #ultimate ul{
        display: inline-block;
    }
}

@media screen and (max-width: 512px) {
    #professional{
        order: -1;
    }
}

/* card professional */


#professional{
    color: white;
    background-color: #6500FF;
}

#professional a{
    background-color: white;
    color: #6500FF;
}
